!!!
%html
  %head
    %script(async defer data-pin-hover="true" data-pin-color="red" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js")
    %script(src="//www.google-analytics.com/cx/api.js?experiment=tciUXkguRS2xdlmOljJHHQ")
    = partial "header"
  %body.article{class: "#{current_page.data.headerclass}"}
    %article
      %header
        %nav.navbar.navbar-default.navbar-article
          .container-fluid
            .navbar-header
              %a(class="navbar-brand" href="/") skäbu
            %ul.nav.navbar-nav.navbar-right
              %li.nav-pin
                %a(data-pin-do="buttonBookmark" data-pin-color="red" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/")
                  %img
                  &nbsp;
        .container
          %h1#article-title
            = current_page.data.title
      = partial "nav/article"
      %section.article-content
        .container
          %section.related-articles-sidebar
            - blog.articles.find_all {|article| current_page.data[:related].include? article.data[:headerclass]}.each do |article|
              .related-article
                %img{src: "/images/articles/thumbs/#{article.data[:cover]}", width: "100%", height: "150px"}
                %a{href: article.url}
                  %h4
                    = article.title
          = yield
          -# Partialize
          %section.related-articles
            - blog.articles.find_all {|article| current_page.data[:related].include? article.data[:headerclass]}.each do |article|
              .related-article
                %img{src: "/images/articles/thumbs/#{article.data[:cover]}", width: "100%", height: "150px"}
                %a{href: article.url}
                  %h4
                    = article.title

    = partial "footer"
#subscription-popup.mfp-hide.modal
  %h1 7 Days to Healthier, Younger Looking Hair
  %p.lead Find out how with this exclusive day-by-day guide.
  %form(onSubmit="trackEmailPopupConversion(); SubscriptionPopup.prototype.submitEmail(); displayConfirmation(); return false;")
    %input(type="text" placeholder="Enter Your Email" id="subscription-popup-email")
    %br
    %input(type="submit" value="Send Me the Guide")
:javascript
  var ParallaxText = function (options) {
    this.text = options.text;
    this.currentPosition = 250;
    console.log("Current position is "+this.currentPosition);
    var self = this;

    this.render = function() {
      topView = $(document).scrollTop();

      if (topView >= 150) {
        offset = (topView - 150) * 0.2;
        opacity = (150 - offset * 2.5) / 150;
        var translation = "translateY("+offset+"px)";
        self.text.css("transform", translation);
        self.text.css("opacity", opacity);
      }

      window.requestAnimationFrame(self.render);
    };

    window.requestAnimationFrame(this.render);
  };

  new ParallaxText({text: $('#article-title')});

  var header = new Headhesive('.navbar-subnav', {offset: 'header', offsetSide: 'bottom'});
