!!!
%html
  %head
    = partial "header"
    %script(async defer data-pin-hover="true" data-pin-color="red" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js")
  %body.article{class: "#{current_page.data.headerclass}"}
    %article
      %header
        %nav.navbar.navbar-default.navbar-article
          .container-fluid
            .navbar-header
              %a(class="navbar-brand" href="/") skäbu
            %ul.nav.navbar-nav.navbar-right
              %li.nav-pin
                %a(data-pin-do="buttonBookmark" data-pin-color="red" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/")
                  %img
                  &nbsp;
        .container
          %h1#article-title
            = current_page.data.title
      = partial "nav/article"
      %section.article-content
        .container
          = yield
    = partial "footer"
:javascript
  var ParallaxText = function (options) {
    this.text = options.text;
    this.currentPosition = 250;
    console.log("Current position is "+this.currentPosition);
    var self = this;

    this.render = function() {
      topView = $(document).scrollTop();

      if (topView >= 150) {
        offset = (topView - 150) * 0.2;
        opacity = (150 - offset * 2.5) / 150;
        var translation = "translateY("+offset+"px)";
        self.text.css("transform", translation);
        self.text.css("opacity", opacity);
      }

      window.requestAnimationFrame(self.render);
    };

    window.requestAnimationFrame(this.render);
  };

  new ParallaxText({text: $('#article-title')});

  var header = new Headhesive('.navbar-subnav', {offset: 'header', offsetSide: 'bottom'});
