!!!
%html
  %head
    = partial "header"
    %script(async defer data-pin-hover="true" data-pin-color="red" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js")
  %body.article
    %article
      %header
        %nav.navbar.navbar-default.navbar-article
          .container-fluid
            .navbar-header
              %a(class="navbar-brand" href="/") skäbu
            %ul.nav.navbar-nav.navbar-right
              %li.nav-pin
                %a(data-pin-do="buttonBookmark" data-pin-color="red" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/")
                  %img
                  &nbsp;
        .container
          %h1#article-title 10 Proven Benefits of Moroccan Argan Oil Shampoo
      %nav{class: "navbar navbar-default navbar-no-margin navbar-subnav"}
        .container
          .navbar-header
            %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to '/index.html', class: 'navbar-brand' do
              - image_tag 'logo/skabu-logo-highres.png', height: '20', width: '54'
          %div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            %ul(class="nav navbar-nav navbar-right")
              %li
                = link_to 'Shampoo', '/shampoo.html'
              %li
                = link_to 'Conditioner', '/conditioner.html'
              %li
                = link_to 'About Us', '/about.html'
              %li
                = link_to 'Ingredients', '/ingredients.html'
      %section.article-content
        .container
          %p
            You see it everywhere. Argan oil shampoo, argan oil conditioner, and argan oil treatments for hair. But why use it? What’s the big deal about argan oil?
          %p
            Argan oil has long been dubbed “liquid gold” for hair. Scan any Ulta or Sephora store and you’ll find hundreds of products that promise to give you voluminous and shiny hair, but few can do it without artificial chemicals and harmful preservatives. Here’s ten reasons you’re missing out if you don’t use the real thing.

          %h2
            1. Loaded with Nutrients for Hair
          %p
            Argan oil has a naturally high percentage of fatty acids and Vitamin E. These are the top nutrients to promote healthy hair growth as it contains antioxidants, which help boost cells and encourage them to grow healthy hair. Argan oil has even been known for hair regrowth.
          %h3
            Argan Oil's Fatty Acid Composition (by percentage)
          %div.chartPanel
            .chart
              %canvas(id="arganFatContent" width="446" height="300")
            #chartLegend
            &nbsp;
          :javascript
            var chartContext = $('#arganFatContent').get(0).getContext("2d");

            var data = [
              {
                value: 12.7,
                color: "rgb(199, 222, 179)",
                highlight: "#a3c983",
                label: "Palmitic"
              },
              { // Needs color
                value: 5.83,
                color: "rgb(194, 185, 200)",
                highlight: "#ada1b5",
                label: "Stearic"
              },
              { // Needs color
                value: 45.6,
                color: "rgb(215, 223, 219)",
                highlight: "#b8c6bf",
                label: "Oleic"
              },
              { // Needs color
                value: 34.6,
                color: "rgb(224, 216, 166)",
                highlight: "#ccbe6b",
                label: "Linoleic"
              }
            ];

            var options = {
              segmentStrokeWidth : 3,
              percentageInnerCutout : 40,
              animationEasing: "easeInOutQuart",
              animateScale : true
            }

            var arganFatContentChart = new Chart(chartContext).Pie(data, options);
            var chartLegend = arganFatContentChart.generateLegend();
            $("#chartLegend").html(chartLegend);
          %p
            %small
              %strong
                Source:
              Ascensión Rueda, Isabel Seiquer, Manuel Olalla, Rafael Giménez, Luis Lara, and Carmen Cabrera-Vique, “Characterization of Fatty Acid Profile of Argan Oil and Other Edible Vegetable Oils by Gas Chromatography and Discriminant Analysis,” Journal of Chemistry, vol. 2014
          %p
            80.2 percent of the fatty acids in argan oil consist of Oleic and Linoleic acid. These acids in particular are an essential part of many natural oils your body needs. They help condition the hair and skin, and can also clear pores on the scalp.

          %h2
            2. Acts as a Natural Moisturizer
          %p
            Argan oil is a natural moisturizer for dry and brittle hair. It heals each strand from the inside to prevent breakage and split ends.
          .callout
            %div.pin-it-callout
              %a(data-pin-do="buttonBookmark" data-pin-color="red" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/")
            %h3
              Stylist Tip
            %p
              Have extra dry hair? Slather your hair with
              = succeed "," do
                = link_to "Skäbu Organic Argan Oil Conditioner", "#"
              cover with shower cap and let it sit for 30 minutes. Rinse and repeat weekly for shiny moisturized hair.
          %h2
            3. Fights Dandruff & Dry Scalp
          %p
            Forget dandruff shampoos that contain sulfates and parabens. Stick with nature’s cure for the embarrassing flakes and itchy scalp. Moisturize and heal with argan oil shampoo and conditioner and over time, your scalp will heal from environmental damage to reduce dandruff. Argan oil has been proven to remove dandruff with it’s naturally occurring PH-balanced omega oils, antioxidants and Vitamin E, so you’re solving the long-term problem, not just covering it up.
          %h2
            4. Grow Stronger Hair
          %p
            Argan oil promotes the growth of health and strong hair instead of thin, brittle hair. This is a vital step towards having beautiful hair – growing thick and strong strands that’s immune to breakage and limpness.
          %h2
            5. Undo the Damage
          %p
            Do you dye your hair? Blow dry regularly? Maybe you perm or curl your hair? Undo all the chemical treatment damage by using argan oil in your daily routine. Over time, argan oil will heal and treat environmental damage, UV rays, chemical stripping, bleaching, etc. so that your hair will regain it’s original luster and shine.
          .callout
            %div.pin-it-callout
              %a(data-pin-do="buttonBookmark" data-pin-color="red" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/")
            %h3
              Stylist Tip
            %p
              We all know it’s a pain to buy another bottle of goo and try to remember to do another hair treatment just to get the benefits of argan oil. Adopt using argan oil as part of your beauty routine by switching to an organic argan oil shampoo and conditioner. This saves the extra step of another hair treatment, while gaining the benefits of argan oil regularly.
          %img.wrap-right.img-rounded{src: "/images/articles/content/argan-hair.jpg", :"data-pin-id" => "60024607511589512", :"data-pin-media" => 'http://skabuorganics.com/images/articles/infographics/argan-oil-pin.jpg', :"data-pin-description" => "You see it everywhere. Argan oil shampoo, argan oil conditioner, and argan oil treatments for hair. But why use it? What's the big deal about argan oil? You'll never believe what we found, especially tip #8."}
          %h2
            6. Tame Frizz and Poof (No One Wants to Look like a Poodle)
          %p
            Beyond deep hydration, argan oil has the natural vitamins and minerals to reduce frizz in hair, leaving hair softer and more manageable for styling. Starting your day with argan oil leaves your hair smooth and pliable.
          %h2
            7. Get Beautiful Gloss & Shine
          %p
            We’ve tried it all. From aerosol sprays to gels that leave a glossy shine, shiny hair is one of the best indicators for overall health of hair. That’s why it’s so important to use argan oil regularly to replenish nutrients that your hair needs for a lasting shine – from the inside out. While external shine products work, they act as a coating and not actual health. Argan oil has healing properties that leave your hair with a truly luminous shine and gloss.
          %h2
            8. Highly Absorbable without Greasiness
          %p
            The first concern for many people when we think about argan oil is that it might be greasy. While oil and grease might seem to go together, argan oil does just the opposite. Natural oils don’t create grease in your hair, an imbalanced PH causes many of the symptoms along with chemicals that disrupt the natural chemical balance of your scalp. Argan oil in hair leaves it soft and shiny, while all the moisture and natural minerals are absorbed into the scalp for its nutritional properties – leaving behind no residue or unabsorbed oil. So try the natural route even if you’ve been avoiding oils for fear of greasiness.
          .callout
            %div.pin-it-callout
              %a(data-pin-do="buttonBookmark" data-pin-color="red" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/")
            %h3
              Stylist Tip
            %p
              Washing your hair daily tends to dry out your natural oils, thus making your scalp overcompensate by creating more oil. Try going less often and using a natural dry shampoo in between washes.
          %h2
            9. Good For Skin
          %p
            Few of us think about when the soapy shampoo suds run over our skin in the shower, but the chemicals in shampoo can have a huge impact on your skin condition. Shampoos often contain harsh cleaning agents that irritate your skin from washing in the shower. It’s important to think about overall skin health when cleaning your scalp, and luckily argan oil is good for both. Argan oil hydrates skin along with all the benefits for hair, so don’t hesitate to take advantage of its moisturizing properties.
          %h2
            10. No Parabens, Sulfates, Hormone Disruption or Cancer
          %p
            Even if you don’t use an organic shampoo, it’s important you read the ingredients to avoid the chemicals below:
          %ul
            %li
              Sulfates (linked with skin and scalp irritation by stripping of natural oils)
            %li
              Parabens (linked with estrogen disruption causing breast cancer and reproductive issues)
            %li
              Petroleum (clogs pores and stays in the body through skin absorbtion)
            %li
              Synthetic Fragrances (associated with hair loss, skin irritations, allergic reactions, some have high toxicity levels)
            %li
              Phthalates (plastic softeners that have been shown to damage liver, kidneys, lungs and reproductive systems through inhalation or skin absorbtion)
          %h2
            Bonus! Argan Oil Benefits Infographic
          %p
            We summarized the top 10 benefits of argan oil for you in a handy infographic. Happy sharing!
          %a(href="/images/articles/infographics/argan-oil-2x.jpg" class="infographic-link")
            %img.img-responsive{src: "/images/articles/infographics/argan-oil-2x.jpg", :"data-pin-id" => "60024607511589512", :"data-pin-media" =>  'http://skabuorganics.com/images/articles/infographics/argan-oil-pin.jpg', :"data-pin-description" => "You see it everywhere. Argan oil shampoo, argan oil conditioner, and argan oil treatments for hair. But why use it? What's the big deal about argan oil? You'll never believe what we found, especially tip #8."}
    = partial "footer"
:javascript
  var ParallaxText = function (options) {
    this.text = options.text;
    this.currentPosition = 250;
    console.log("Current position is "+this.currentPosition);
    var self = this;

    this.render = function() {
      topView = $(document).scrollTop();

      if (topView >= 150) {
        offset = (topView - 150) * 0.2;
        opacity = (150 - offset * 2.5) / 150;
        var translation = "translateY("+offset+"px)";
        self.text.css("transform", translation);
        self.text.css("opacity", opacity);
      }

      window.requestAnimationFrame(self.render);
    };

    window.requestAnimationFrame(this.render);
  };

  new ParallaxText({text: $('#article-title')});

  var header = new Headhesive('.navbar-subnav', {offset: 'header', offsetSide: 'bottom'});
