---
title: 'Organic Luxury Shampoo and Conditioner - Skäbu'
seo_title: 'Skäbu - Organic Luxury Shampoo and Conditioner'
seo_description: 'Skäbu is a luxury organic shampoo and conditioner line with natural ingredients to reduce aging and hair loss while nourishing healthy, shiny hair.'
---

.jumbotron
  .container
    %div(class="jumbrotron-image col-md-6")
      = image_tag 'home/skabu-shampoo-conditioner-highres.jpg', width: '540', height: '500'
    %div(class="jumbrotron-text col-md-6")
      %h1 Organic Luxury
      %p Meticulously curated ingredients from around the globe. Volumizing, hydrating and repairing &mdash; without any harmful chemicals or synthetic preservatives.
      = link_to 'Learn More', '/about.html', class: 'btn btn-primary'

%article
  %section
    .container
      %h3 Beauty without Sacrificing Health
      %p.lead
        Skäbu was founded on the belief that beauty doesn't have to come at the sacrifice of health. We only use high quality ingredients sustainably sourced from around the world for the best results. Our hair products
        %strong never
        use parabens, phthalates, sulfates, synthetic fragrances, phosphates, synthetic colors or petroleum.
  %section
    .container
      %h3 Holistic Organic Ingredients
      %img(src="images/home-content-image.jpg" style="float: right;" width="300" height="225")
      %p.lead
        Rejuvenate your hair with truly natural ingredients. Our
        = link_to 'organic avocado oil', '/ingredients.html#avocado-oil'
        nourishes each strand from the inside out with high levels of antioxidants.
        = link_to 'Organic coconut oil', '/ingredients.html#coconut-oil'
        reduces protein loss and helps hair retain moisture.
        = link_to 'Organic aloe vera', '/ingredients.html#aloe-vera'
        leaves hair smooth and shiny with naturally moisturizing properties to remove dandruff and relieve itchy scalp. We use
        = link_to 'organic argan oil', '/ingredients.html#argan-oil'
        to make hair softer, silkier and shinier to treat split ends and tame frizzy hair.

      %p.lead
        We believe nature has given us the full remedy to having beautiful, volumious hair without resorting to cheap chemicals and plastic softeners. We never sacrifice quality to reduce ingredient costs. Learn more about
        = link_to 'our ingredients.', '/ingredients.html'


    %section
      .container
        %h3 Nature's Cure to Hair Loss, Aging, and Damage
        %p.lead With so many anti-aging and hair loss products on the market, we wanted to design a formula leveraging essential oils found in nature&mdash;not a laboratory. Our formula fights aging, rejuvenates hair, re-balances pH levels, and heals scalp damage.

        %p.lead
          Skäbu uses
          = link_to 'algae extract', '/ingredients.html#algae'
          rich in antioxidants to stop aging by reducing activities on 5-alpha reductase that causes hair loss, heals scalp damage, and replenishes critical nutrients. We use
          = link_to 'organic argan oil', '/ingredients.html#argan-oil'
          to replenish natural oils with its natural anti-aging properties and rejuvenate your hair, scalp and skin. Skäbu uses
          = link_to 'organic shea butter', '/ingredients.html#shea-butter'
          to prevent breakage, protect against UV damage and seal in moisture from essential oils like
          = link_to 'coconut oil.', '/ingredients.html#coconut-oil'
