---
title: 'Our Products - Skäbu'
seo_title: 'Skäbu - Our Products'
seo_description: 'Skäbu offers a luxurious Organic Replenishing Argan Oil + Algae Shampoo and Conditioner set'
---

.container
  %br
  %ol.breadcrumb
    %li
      = link_to 'Home', '/index.html'
    %li.active Products
.jumbotron
  .container
    %div(class="jumbrotron-image col-md-4")
      = image_tag 'products/skabu-shampoo-highres.jpeg', width: '208', height: '500', class: 'center-block'
    %div(class="jumbrotron-text col-md-8")
      %h2 Organic Argan Oil + Algae Replenishing Shampoo
      %p.lead
        %i Deeply cleans and rejuvenates hair and scalp.
      %p.lead
        We scoured the globe for the best ingredients in haircare for a single shampoo. From
        = link_to 'Moroccan Argan Oil', '/ingredients.html#argan-oil'
        to
        = link_to 'Algae', '/ingredients.html#algae'
        from the Pacific Ocean, we’ve created the ultimate formula to clean, revitalize and nourish hair.
      %p.lead Created in a facility completely powered by wind turbines, Skäbu combines modern technology with old world herbs and essential oils.
      %a(href="http://www.amazon.com/dp/B017HP90C4" class="btn btn-warning") Buy From Amazon
%div(class='jumbotron jumbotron-omega')
  .container
    %div(class="jumbrotron-image col-md-4")
      = image_tag 'products/skabu-conditioner-highres.jpeg', width: '208', height: '500', class: 'center-block'
    %div(class="jumbrotron-text col-md-8")
      %h2 Organic Argan Oil + Algae Replenishing Conditioner
      %p.lead
        %i Age-defying conditioner promotes hair growth.
      %p.lead
        Gain anti-aging benefits from
        = link_to 'organic sesame oil', '/ingredients.html#sesame-oil'
        and
        = link_to 'organic jojoba seed oil.', '/ingredients.html#jojoba-oil'
        Replenish with anti-oxidants and reduce hair loss naturally with
        = link_to 'loose-leaf Japanese green tea extract.', '/ingredients.html#green-tea'
        Get volumious, shiny hair without harmful chemicals.
      %p.lead
        = link_to 'Learn more', '/about.html'
        about our commitment to you.
      %a(href="http://www.amazon.com/dp/B017HRA2W4" class="btn btn-warning") Buy From Amazon
